<h1 style="color:black;">Welcome to the Movie Magic website!</h1>

<style>
body {
    background-color: #33ccff;
}
</style>

<body>

<p style="font-size:160%;">
Check out some of our links fellow movie lover:
</br></br></br>
<%= link_to 'Peoples Reviews', controller: 'reviews' %>
</br></br></br>
<%= link_to 'Our Employees', controller: 'employees' %>
</br></br></br>
<%= link_to 'Our Snack Picks', controller: 'snacks' %>


</p>

</body>
